body
{
	background-color: #3089ff;
}

label
{
	background-color: white;
	padding: 5px 10px 5px 5px;
	opacity: 0.8;
	margin-right: 5px;
}
.title
{
	text-align: center;
	margin: 20px;
	
}
.head
{
	background-color: #18420b;
	color: white;
	padding: 30px;
}

.gifButton
{
	background-color: white;
	margin: 5px;
	padding: 5px;
}

.container
{

}

.gif-view
{

}

.gifImg
{
	margin-top: 35px;
	max-width: 100%;
}

