body
{
	background-color: #3089ff;
}

label
{
	padding: 5px 10px 5px 5px;
	font-size: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}
.title
{
	text-align: center;
	margin: 20px;
	
}
.head
{
	margin-top: 30px;
	background-color: #18420b;
	color: white;
	padding: 30px;
}

.gifButton
{
	background-color: white;
	margin: 5px;
	padding: 5px;
	text-decoration: none;		
	text-align: center;
	font-size: 25px;		
	text-shadow: 0 1px 0 rgba(255,255,255,.7);	
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-radius: 300px;
	border-width: 4px;
	border-style: solid;
}

.gifButton:hover
{
	background-color: #3089ff;
}


.container
{
	padding: 40px;
}

.gif-view
{
	padding: 30px;
}

.gifImg
{
	margin-top: 35px;
	max-width: 100%;
}

.searchBtn
{
	background-color: white;
	margin: 5px;
	font-size: 20px;
	text-align: center;
	padding: 15px;
	border-radius: 300px;
	border-width: 4px;
	border-style: solid;
	text-shadow: 0 1px 0 rgba(255,255,255,.7);	
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
}

.searchBtn:hover
{
	background-color: #3089ff;
}